<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--Qa0 -->
    <add name="ArticleDataDbEntities" connectionString="metadata=res://*/ArticleDataDbModel.csdl|res://*/ArticleDataDbModel.ssdl|res://*/ArticleDataDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DPD900\STANDARD;Initial Catalog=ArticleDataDb;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="livee_11Entities" connectionString="metadata=res://*/Db2EditModel.csdl|res://*/Db2EditModel.ssdl|res://*/Db2EditModel.msl;provider=IBM.Data.DB2;provider connection string=&quot;Database=livee_11;User ID=ngps;Password=Q&amp;jU4At3ek;Server=10.148.16.93:55100;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>